  /* Footer */
  .footer {
    padding: 20px 30px;
    background-color: black;
    text-align: center;
    color: #CCCCCC;
  }

  /* Mobile Footer */
@media (max-width: 768px) {
    .footer {
        padding: 15px 20px;  /* Adjust padding */
        font-size: 0.9rem;  /* Reduce text size */
    }
}

